{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Добавить ЗAпись</h1>
    <form method="post" action="{% url 'add_expense' %}" class="needs-validation" novalidate>

        {% csrf_token %}

        <div class="mb-3">
            {{ form.model_name.label_tag }}
            {{ form.model_name }}
            <div class="mt-3">
            {{ form.model_name_comment }}
            </div>
        </div>

        <div class="mb-3">
            {{ form.name_fabric.label_tag }}
            {{ form.name_fabric }}
            <div class="mt-3">
            {{ form.name_fabric_comment }}
            </div>
        </div>

        <div class="mb-3">
            {{ form.fabric.label_tag }}
            {{ form.fabric }}
            <div class="mt-3">
            {{ form.fabric_comment }}
            </div>
        </div>

        <div class="mb-3">
            {{ form.accessories.label_tag }}
            {{ form.accessories }}
            <div class="mt-3">
            {{ form.accessories_comment }}
            </div>
        </div>

        <div class="mb-3">
            {{ form.threads.label_tag }}
            {{ form.threads }}
            <div class="mt-3">
            {{ form.threads_comment }}
            </div>
        </div>

        <div class="mb-3">
            {{ form.other.label_tag }}
            {{ form.other }}
            <div class="mt-3">
            {{ form.other_comment }}
            </div>
        </div>

        <div class="mb-3">
            {{ form.sewing.label_tag }}
            {{ form.sewing }}
            <div class="mt-3">
            {{ form.sewing_comment }}
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Добавить Запись</button>
        <a href="{% url 'expenses_list' %}" class="btn btn-secondary m-2">Назад</a>
    </form>
</div>
{% endblock %}
